<div class="modal fade" data-controls-modal="modalConfirmDelete" id="modalConfirmDelete" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-notify modal-danger" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <p class="heading mod-head">Restaurant Paused</p>
      </div>
      <!--Body-->
      <div class="modal-body">
        <i class="fas fa-times fa-4x animated rotateIn"></i>
        <h4>Restaurant has been Paused.</h4>
      </div>
      <!--Footer-->
      <div style="height:auto" class="modal-footer flex-center">
        <a data-dismiss="modal" (click)="pauses()" class="btn  btn-success f-22 mT30 mB30">Resume</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>