<div *ngIf="!landscape" class="text-center pB20">
   <span *ngIf="orderDetail.orderStatus.refundStatus==false">
      <button *ngIf="orderDetail.orderStatus.ETA=='TBD'" long-press [timeout]="250"
         (onLongPress)="acceptOrder(orderDetail.orderStatus.orderId,orderDetail.orderStatus.ETA)"
         (click)="acceptOrder(orderDetail.orderStatus.orderId,tempETA)"
         class="btn {{tempETA==''?'grey':'btn-primary green'}}  bold white f-22 pR30 pL30 wlSpace">Accept
         Order
      </button>
      <span *ngIf="!orderDetail.orderStatus.isFutureOrder">
         <button *ngIf="orderDetail.orderStatus.ETA!='TBD'" long-press [timeout]="250"
            (onLongPress)="acceptOrder(orderDetail.orderStatus.orderId,orderDetail.orderStatus.ETA)"
            (click)="acceptOrder(orderDetail.orderStatus.orderId,tempETA)"
            class="btn {{tempETA==''?'grey':'btn-primary green'}}  bold white f-22 pR30 pL30 wlSpace">
            Update ETA
         </button>
      </span>
   </span>
   <button long-press [timeout]="250" (onLongPress)="closebutton()" (click)="closebutton()" type="button"
      class="btn btn-outline-primary bold white f-22 pR30 pL30 wlSpace" data-dismiss="modal">Close</button>
</div>

<div *ngIf="landscape" class="text-center">
   <span *ngIf="orderDetail.orderStatus.refundStatus==false">
      <button *ngIf="orderDetail.orderStatus.ETA=='TBD'" long-press [timeout]="250"
         (onLongPress)="acceptOrder(orderDetail.orderStatus.orderId,orderDetail.orderStatus.ETA)"
         (click)="acceptOrder(orderDetail.orderStatus.orderId,tempETA)"
         class="btn {{tempETA==''?'grey':'btn-primary green'}}  bold white f-22 pR30 pL30 wlSpace">Accept
         Order
      </button>
      <span *ngIf="!orderDetail.orderStatus.isFutureOrder">
         <button *ngIf="orderDetail.orderStatus.ETA!='TBD'" long-press [timeout]="250"
            (onLongPress)="acceptOrder(orderDetail.orderStatus.orderId,orderDetail.orderStatus.ETA)"
            (click)="acceptOrder(orderDetail.orderStatus.orderId,tempETA)"
            class="btn {{tempETA==''?'grey':'btn-primary green'}}  bold white f-22 pR30 pL30 wlSpace">
            Update ETA
         </button>
      </span>
   </span>
</div>