<div class="modal fade" id="etaupdatesucess" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm modal-notify modal-success" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <p class="heading mod-head">ETA UPDATED</p>
      </div>
      <!--Body-->
      <div class="modal-body">
        <i class="fas fa-check fa-4x green-text animated rotateIn"></i>
        <h4>ETA has been sucessfully updated.</h4>
      </div>
      <!--Footer-->
      <div class="modal-footer flex-center">
        <a data-dismiss="modal" class="btn  btn-success">Close</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>