<div id="header">
  <nav class="navbar pT15 pL25 pad-10 black-bg">
    <span class="white-c f-23 bold lwSpace">{{ resturantName }} 
    </span>
  </nav>
</div>
<div class="text-center mB20">
<div class="box black-bg">
  <p class="mT32">Out/In Stock</p>
</div>
<div class="box green-bg">
  <p class="mT32">Store Operation</p>
</div>
<div class="box yellow-bg">
  <p class="mT32">Test Store</p>
</div>
<div class="clearfix"></div>
<div class="box maroon-bg">
  <p class="mT32">Pause/Resume</p>
</div>
<div class="box btn-primary">
  <p class="mT32">Store Hours</p>
</div>
</div>
<app-footer></app-footer>