<div class="modal fade" id="contact-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-l modal-notify modal-success" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <p class="heading mod-head">Contact</p>
      </div>
      <!--Body-->
      <div class="modal-body">
        <div>
          <strong>
            <h5 class="bold f-23">Customer Support</h5>
            <h5 class="bold f-23">(415) 903-4020</h5>
          </strong>
        </div>
      </div>
      <!--Footer-->
      <div class="modal-footer flex-center">
        <a data-dismiss="modal" class="btn  btn-outline-success">close</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>