<div  class="modal fade" data-controls-modal="modalConfirmDelete" id="deliverypopupPaused" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-notify modal-danger" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <p class="heading mod-head">Delivery Paused</p>
      </div>
      <!--Body-->
      <div class="modal-body">
        <i class="fas fa-times fa-4x animated rotateIn"></i>
        <h4>Restaurant Delivery has been Paused.</h4>
      </div>
      <!--Footer-->
      <div style="height:auto" class="modal-footer flex-center">
        <a data-dismiss="modal" class="btn  btn-outline-danger mT30 mB30 f-22">close</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
<div   class="modal fade" data-controls-modal="modalConfirmSuccess" data-backdrop="static" data-keyboard="false"
  id="deliverypopupResumed" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-notify modal-success" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <p class="heading mod-head">Delivery Resumed</p>
      </div>
      <!--Body-->
      <div class="modal-body">
        <i class="fas fa-check green-text fa-4x animated rotateIn"></i>
        <h4>Restaurant Delivery can now accept orders</h4>
      </div>
      <!--Footer-->
      <div style="height:auto" class="modal-footer flex-center">
        <a data-dismiss="modal" class="btn  btn-outline-success mT30 mB30 f-22">close</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>